html
  head
    title= "DEVBALL monitoring"
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/solar/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='styles.css')
  body
    nav(class='navbar navbar-dark bg-dark')
        h1='DEVBALL Monitoring'
    main(class='container-fluid')
    if !jobs.length
        p(class='alert alert-success')
            strong='GUD!'
            ='All Jenkins jobs are green!'
    else
        ul
            each job in jobs.length ? jobs : ['There are no values']
                li(class=job.color data-order=job.order)
                    span(class='badge badge-pill badge-light')= job.project
                    span(class='badge badge-pill badge-primary badge-env-' + job.environment)= job.environment
                    div(class='job-status')
                        strong(class='job-name')
                            =job.jobName 
                            if job.healthReport[0] && job.healthReport[0].iconUrl
                                img(src='http://10.216.99.56:8080/static/2ade8cde/images/32x32/' + job.healthReport[0].iconUrl)
                        if job.healthReport[0] && job.healthReport[0].description
                            small(class='healthcheck')= job.healthReport[0].description
                        

script.
    setInterval(() => {
        window.location.reload(false); 
    }, 2000)
    